@import "tailwindcss";
.dropdown-item {
  @apply block px-4 py-2 hover:bg-gray-100 hover:text-green-500 transition;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.why-section {
  background: #eaf4f5;
  padding: 80px 0;
  border-radius: 40px;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.top-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;
  gap: 40px;
}

.subtitle {
  color: #6cc24a;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 14px;
}

.top-content h2 {
  font-size: 42px;
  margin-top: 10px;
  font-weight: 600;
  color: #0f2f2f;
}

.top-content h2 span {
  color: #6cc24a;
}

.right p {
  color: #4a4a4a;
  line-height: 1.7;
  max-width: 500px;
}

.cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  background: #f5f5f5;
  padding: 25px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
  min-width: 280px;
}

.icon-box {
  background: #333;
  color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.icon-box .number {
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 18px;
  opacity: 0.5;
}

.card-content h4 {
  margin: 0;
  font-size: 20px;
  color: #0f2f2f;
}

.card-content p {
  margin-top: 8px;
  color: #555;
}